*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /* border-style:solid; */
    align-items: center;
}

.container {
    display:flex;
    justify-content: space-evenly;
}

.container2 {
    display:flex;
}

.item1 {
    background-color: rgb(224, 234, 232);
    border: 2px solid rgb(14, 63, 210);
    height: 200px;
    flex: 1;
    margin: 10px;
}

.item2 {
    background-color:cornsilk;
    border: 2px solid rgb(185, 212, 144);
    height: 100px;
    flex: 1;
    margin: 10px;
}
